/*File for shoppinglsit.html*/
.done {
    text-decoration: line-through;
}
div{
    margin: 3px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
.btn-primary{
    background-color:blue; 
}